<div class="container mb-5">
    <h1 class="mt-5 mb-5">Entre em contato conosco para fazer seu pedido.</h1>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Faça seu pedido</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <a class="btn btn-success" href="#">
    <i class="icon-shopping-cart icon-large"></i> Enviar</a>
</div>
